In [1]:
import pandas as pd

In [24]:
items = pd.read_csv("api/data/items.csv")
ventes = pd.read_csv("transactions.csv")
customers = pd.read_csv("api/data/clients.csv")

# N ITEMS

In [12]:
items.rename(columns={"id": "item_id"}, inplace=True)

In [13]:
most_sell = ventes.groupby(['item_id'])['quantity'].sum().reset_index(name='total_sold').sort_values(by='total_sold', ascending=False)

In [14]:
total_ventes = items.merge(most_sell, how='inner', on='item_id')

In [15]:
total_ventes.sort_values('total_sold', ascending =False, inplace = True)
total_ventes = total_ventes.head(10)

# N CLIENT

In [25]:
clients = ventes.copy()

In [26]:
clients['time'] = clients['time'].apply(pd.to_datetime)

In [27]:
clients['time'] = pd.to_datetime(clients['time']).dt.date

In [28]:
clients = clients.drop_duplicates(subset=["client_id", "time"], keep=False)

In [26]:
clients = clients.groupby(['client_id'])['client_id'].size().reset_index(name='quantity')

In [27]:
customers.rename(columns={"id": "client_id"}, inplace=True)

In [28]:
top_client = customers.merge(clients, how = "left", on ="client_id").sort_values(by='quantity', ascending=False)

# TRANCHE D'AGE

In [29]:
customers.rename(columns={"id": "client_id"}, inplace=True)

In [31]:
test = clients[['client_id', 'time', 'quantity']].merge(customers[['birthdate', 'client_id', 'sex']], how = "left", on = "client_id")

In [38]:
test

,client_id,time,quantity,birthdate,sex
0,968d18b2-6551-4967-83cd-cd6626474666,2020-01-01,8,1974-03-29,F
1,4b997bba-897c-40a6-b019-46a9bccdb7b4,2020-01-01,8,1982-01-15,M
2,cb4285fb-a520-4958-b181-65bbe567932b,2020-01-01,8,1970-11-29,F
3,82da4929-4f6d-46fb-b82f-f92e1a987030,2020-01-01,10,1952-12-13,M
4,eb8976ad-b19c-4a8f-8883-a703d0a89852,2020-01-01,6,1981-03-30,F
...,...,...,...,...,...
9751,ee47fcbe-f07c-4885-8c33-c52ca57f24dd,2020-12-31,1,1971-12-11,M
9752,9b7c41ef-5840-469e-90ed-a054bc9fb5aa,2020-12-31,9,1990-12-28,M
9753,e083af2b-a985-428a-a62e-408dbcfb772f,2020-12-31,5,1990-09-22,M
9754,e436b987-ecc8-45f1-b165-c6cec37f997b,2020-12-31,4,1955-02-04,M
9755,4f125a07-ecf8-4000-927d-c0b208c9fc2c,2020-12-31,6,1980-06-03,M

In [39]:
test['birthdate'] = test['birthdate'].apply(pd.to_datetime)

In [42]:
now = pd.to_datetime('now')
now
# Timestamp('2019-04-14 00:00:43.105892')

test['age'] = (now - test['birthdate']).astype('<m8[Y]')

In [43]:
test

,client_id,time,quantity,birthdate,sex,age
0,968d18b2-6551-4967-83cd-cd6626474666,2020-01-01,8,1974-03-29,F,48.0
1,4b997bba-897c-40a6-b019-46a9bccdb7b4,2020-01-01,8,1982-01-15,M,40.0
2,cb4285fb-a520-4958-b181-65bbe567932b,2020-01-01,8,1970-11-29,F,51.0
3,82da4929-4f6d-46fb-b82f-f92e1a987030,2020-01-01,10,1952-12-13,M,69.0
4,eb8976ad-b19c-4a8f-8883-a703d0a89852,2020-01-01,6,1981-03-30,F,41.0
...,...,...,...,...,...,...
9751,ee47fcbe-f07c-4885-8c33-c52ca57f24dd,2020-12-31,1,1971-12-11,M,50.0
9752,9b7c41ef-5840-469e-90ed-a054bc9fb5aa,2020-12-31,9,1990-12-28,M,31.0
9753,e083af2b-a985-428a-a62e-408dbcfb772f,2020-12-31,5,1990-09-22,M,31.0
9754,e436b987-ecc8-45f1-b165-c6cec37f997b,2020-12-31,4,1955-02-04,M,67.0
9755,4f125a07-ecf8-4000-927d-c0b208c9fc2c,2020-12-31,6,1980-06-03,M,42.0

# TOTAL SPENT

In [26]:
total = ventes.merge(items, how="left", on = "item_id")

In [27]:
total["prix_total"] = total['price'] * total['quantity']

In [28]:
total = total.groupby(['client_id'])['prix_total'].sum().reset_index(name='prix_total').sort_values(by='prix_total', ascending=False)

In [29]:
conso = customers.merge(total, how = "left", on = "client_id").sort_values(by='prix_total', ascending=False)

In [30]:
conso

,username,name,sex,address,mail,birthdate,client_id,prix_total
220,allen00,Robert Stuart,M,"373 Christopher Harbor\nEast Lisaberg, ME 18292",dustin21@hotmail.com,1976-12-22,46a0209d-3ad8-4e15-a794-93909f7a5287,435817.37
716,sharpchristopher,Ernest Frank,M,"94435 Ricardo Viaduct Apt. 107\nNorth Derrick,...",jbyrd@gmail.com,1979-11-17,847f6d89-6e94-4524-b692-b81c93cd8c75,363452.59
441,longjennifer,Brianna Higgins,F,"7601 Gary Expressway\nSouth Kimberlyborough, M...",parkerdavid@gmail.com,1980-04-24,1c390cb1-3523-4ca4-9eff-bc66bad56c41,360246.43
993,james73,John Hicks,M,"319 Bean Underpass Suite 533\nEricshire, WV 15102",lopezmelissa@hotmail.com,1965-09-09,155cf470-0384-4384-be88-c09d7dff3219,357266.50
903,gregory56,Carrie Cabrera,F,593 Montgomery Common Suite 032\nPort Josephfu...,walterdanny@hotmail.com,1996-09-10,1e92e3f0-df1a-4b62-a069-a80194baaaf7,355524.58
...,...,...,...,...,...,...,...,...
181,nicole75,Angela Hernandez,F,"025 Pierce Crossroad\nTammyhaven, FL 32473",jasongomez@hotmail.com,1992-04-19,6473e36d-9f70-43ff-a828-01d2de8600be,28704.52
800,hayesantonio,Ian Gordon,M,"17195 Hall Walks\nJenniferstad, MT 49999",patricia16@gmail.com,1993-10-23,6101a975-57c5-4d9b-9e8c-94060ae88cb9,27173.57
698,jacobcook,Wayne Hall,M,"85886 Patterson Prairie Suite 800\nPattonport,...",nancycarter@hotmail.com,1962-09-20,b50c8e3f-56fd-434d-bc6e-5482c51e0524,25751.04
929,deleonkristopher,Amanda Mercer,F,"9822 Young Parks\nWest Joseph, WI 58438",ekelly@hotmail.com,1986-05-02,caac7bc6-13f3-4e51-b142-4a86793fbda2,23589.54
77,carrollcameron,Keith Horne,M,"85948 Colleen Overpass\nWest Barbara, MN 91085",eporter@yahoo.com,1977-10-13,ff972172-db7b-403d-9d8e-b87fcbc99b7a,22296.85

# VENTES PAR HEURES ET JOURS

In [47]:
ventes['time'] = ventes['time'].apply(pd.to_datetime)

In [48]:
ventes['Dates'] = pd.to_datetime(ventes['time']).dt.date.apply(pd.to_datetime).dt.day_name()
ventes['Time'] = pd.to_datetime(ventes['time']).dt.time

In [49]:
ventes['hour'] = ventes['time'].dt.hour

In [50]:
ventes.drop(columns=['item_id', 'client_id', 'time', 'Time'], inplace = True)

In [51]:
ventes = ventes.groupby(['Dates', 'hour']).size().reset_index(name='ventes')

In [57]:
ventes.query("Dates=='Friday' & hour==12")

     Dates  hour  ventes
12  Friday    12      61

In [ ]:

posts = json.loads('{"items":' + total_ventes.to_json(orient='records', date_format='iso') + '}')

print(posts['items']) # see the results